.lang-tester-content {
    font-family: "JetBrains Mono", monospace;
}

.evalEntryContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.evalEntryTitleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.tester-grid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tester-grid > *:nth-child(2n+1) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.tester-grid > * {
    padding-left: 5px;
}

/*@formatter:off*/
.rainbow-0 { background-color: #FFCCCC; }
.rainbow-1 { background-color: #FFE6CC; }
.rainbow-2 { background-color: #FFFFCC; }
.rainbow-3 { background-color: #E6FFCC; }
.rainbow-4 { background-color: #CCFFCC; }
.rainbow-5 { background-color: #CCFFE6; }
.rainbow-6 { background-color: #CCFFFF; }
.rainbow-7 { background-color: #CCE5FF; }
.rainbow-8 { background-color: #CCCCFF; }
.rainbow-9 { background-color: #E5CCFF; }
.rainbow-10{ background-color: #FFCCFF; }
/*@formatter:on*/

.rainbow-0:hover, .rainbow-0:hover + .rainbow-0, .rainbow-0:has(+ .rainbow-0:hover),
.rainbow-1:hover, .rainbow-1:hover + .rainbow-1, .rainbow-1:has(+ .rainbow-1:hover),
.rainbow-2:hover, .rainbow-2:hover + .rainbow-2, .rainbow-2:has(+ .rainbow-2:hover),
.rainbow-3:hover, .rainbow-3:hover + .rainbow-3, .rainbow-3:has(+ .rainbow-3:hover),
.rainbow-4:hover, .rainbow-4:hover + .rainbow-4, .rainbow-4:has(+ .rainbow-4:hover),
.rainbow-5:hover, .rainbow-5:hover + .rainbow-5, .rainbow-5:has(+ .rainbow-5:hover),
.rainbow-6:hover, .rainbow-6:hover + .rainbow-6, .rainbow-6:has(+ .rainbow-6:hover),
.rainbow-7:hover, .rainbow-7:hover + .rainbow-7, .rainbow-7:has(+ .rainbow-7:hover),
.rainbow-8:hover, .rainbow-8:hover + .rainbow-8, .rainbow-8:has(+ .rainbow-8:hover),
.rainbow-9:hover, .rainbow-9:hover + .rainbow-9, .rainbow-9:has(+ .rainbow-9:hover),
.rainbow-10:hover, .rainbow-10:hover + .rainbow-10, .rainbow-10:has(+ .rainbow-10:hover),
.fmt-text-highlight, .fmt-text-highlight * {
    background-color: dodgerblue !important;
}
